@require '~@theme/styles/code.styl'

// manually set the sidebar’s background color
.sidebar
  background-color #fbfcfd

// softens inactive clickable sidebar headings
.theme-container
  .sidebar-heading
    color #999
    &.open
      color inherit
    &:hover
      color inherit

// refine clunky `kbd` default
kbd
  border solid 1px #ddd
  border-bottom solid 3px #ddd
  padding 0.15em 0.325em
  font-size 0.85em

// makes Algolia autosuggest dropdown look a bit more at home
// see https://github.com/algolia/docsearch/blob/master/src/styles/_dropdown.scss
.theme-container {
  .algolia-search-wrapper {
    .algolia-autocomplete {
      .ds-dropdown-menu {
        border: 1px solid transparent;
        border-radius: 6px;
        padding: 0.5rem 0.75rem;
        box-shadow: 0 20px 55px rgba(0, 0, 0, 0.3);

        &:before {
          border-top: 1px solid transparent;
          border-right: 1px solid transparent;
        }
      }

      .algolia-docsearch-suggestion {
        .algolia-docsearch-suggestion--category-header {
          background: transparent;
          padding: 5px 0;
          margin-bottom: 0.5rem;
        }

        .algolia-docsearch-suggestion--subcategory-column {
          background: transparent;
          background: none;
        }

        .algolia-docsearch-suggestion--category-header {
          color: inherit;
          background: transparent;
        }
      }

      .algolia-docsearch-suggestion--highlight {
        color: $accentColor;
        line-height: 1;
      }
    }
  }
}

.algolia-autocomplete {
  .algolia-docsearch-suggestion--text {
    .algolia-docsearch-suggestion--highlight {
      box-shadow: none;
    }
  }
}

// Converts a color to rgba(), extracting white values
// hat tip https://stackoverflow.com/a/6672545/1688568
toRgba(color)
  r = red(color)
  g = green(color)
  b = blue(color)
  min = min(r, g, b)
  a = (255 - min) / 255
  rA = (r - min) / a
  gA = (g - min) / a
  bA = (b - min) / a
  "rgba(%s, %s, %s, %s)" % (rA gA bA a)

{$contentClass} {
  dl {
    display: flex;
    flex-flow: row wrap;
    padding: 1.25rem 1.5rem;
    line-height: 1.7;
    background: $blockColor;
    border-radius: 6px;

    dt, dd {
      margin: 0.25rem 0 0;
      word-wrap: break-word;
    }

    dt {
      width: 9rem;
      padding-right: 1rem;
      box-sizing: border-box;
      display: flex;
      align-items: top;
      justify-content: flex-end;
      font-weight: bold;
    }

    dd {
      width: calc(100% - 9rem);
    }
  }

  tr:nth-child(2n) {
    background-color $blockColor
  }

  code {
    background toRgba($blockColor)
  }

  pre, pre[class*="language-"] {
    white-space: pre;
  }

  dfn {
    font-weight: bold;
    font-style: normal;
  }

  .highlighted-line {
    background-color darken($blockColor, 5%)
  }

  a.outbound-link {
    color: lighten($textColor, 25%);
    margin-right: 0.25rem;
  }

  a + svg.outbound {
    margin-left: 0.25rem;
    position: relative;
    top: 2px;
  }

  .custom-block {
    div[class*="language-"] {
      background: none;
      border-radius: 0;
      margin-left: -24px;
      margin-right: -24px;

      .highlight-lines {
        padding-top: 0;
      }

      pre,
      pre[class*="language-"] {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

// improve table display
div.table {
  margin: 1rem 0;
  border: 1px solid #dfe2e5;
  overflow-x: auto;

  table {
    display: table;
    margin: 0;
    border: none;
    width: 100%;

    thead,
    tbody:first-child {
      tr:first-child {
        &, th, td {
          border-top: none;
        }
      }
    }

    tbody tr:last-child {
      th, td {
        border-bottom: none;
      }
    }

    th, td {
      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

// support `smallerSidebarHeadings` setting for more compact sidebar
.theme-container.smaller-sidebar-headings {
  .sidebar {
    .sidebar-links {
      font-size: 95%;

      li:not(:first-child) {
        margin-top: 0;
      }

      .sidebar-heading {
        font-size: 98%;
      }
    }
  }
}

// don’t awkwardly wrap toggle arrows in `widerSidebar` mode
.theme-container.wider-sidebar .sidebar {
  .sidebar-links {
    .collapsable {
      .sidebar-heading {
        white-space: nowrap;
      }
    }
  }
}

// support `widerSidebar` setting for longer sidebar headings
@media (min-width: 1220px) {
  .theme-container.wider-sidebar .sidebar {
    width: 23rem;
  }
}

@require '~@theme/styles/mobile.styl'
@require '~@theme/styles/split.styl'

